@import "@syncfusion/ej2-base/styles/tailwind.css";
@import "@syncfusion/ej2-buttons/styles/tailwind.css";
@import "@syncfusion/ej2-calendars/styles/tailwind.css";

.e-calendar.app-calendar {
  border: 0;
  box-shadow: none;
}

.e-calendar.app-calendar .e-footer-container {
  display: none;
}

.e-calendar.app-calendar .e-content.e-month table {
  padding: 0;
}

.e-calendar.app-calendar .e-content.e-month .e-cell span {
  color: inherit;
}

.e-calendar.app-calendar .e-content.e-month .e-cell.available {
  background-color: #ecfdf5;
  color: #10b981;
}

.e-calendar.app-calendar .e-content.e-month .e-cell.available span {
  color: inherit;
}

.e-calendar.app-calendar .e-content.e-month .e-cell.not-available {
  background-color: #fef2f2;
  color: #dc2626;
}

.e-calendar.app-calendar .e-content.e-month .e-cell.almost-full {
  background-color: #fff7ed;
  color: #f97316;
}

.e-calendar.app-calendar .e-content.e-month .e-cell.almost-full span {
  color: inherit;
}

.e-calendar.app-calendar .e-content.e-month .e-cell.almost-full.e-selected,
.e-calendar.app-calendar .e-content.e-month .e-cell.e-cell.available.e-selected {
  color: #fff !important;
}

.e-calendar.app-calendar.e-device {
  max-width: 100% !important;
  min-width: 100% !important;
}