@import '@syncfusion/ej2-base/styles/tailwind.css';
@import '@syncfusion/ej2-buttons/styles/tailwind.css';
@import '@syncfusion/ej2-popups/styles/tailwind.css';
@import '@syncfusion/ej2-navigations/styles/tailwind.css';
@import "@syncfusion/ej2-inputs/styles/tailwind.css";

.app-filters.e-accordion {
  background: transparent;
  border: 0;
}

.app-filters.e-accordion .e-acrdn-item .e-acrdn-header {
  padding: 8px 0;
}

.app-filters.e-accordion .e-acrdn-item .e-acrdn-header:active,
.app-filters.e-accordion .e-acrdn-item .e-acrdn-header:focus,
.app-filters.e-accordion .e-acrdn-item .e-acrdn-header:hover,
.app-filters.e-accordion .e-acrdn-item .e-acrdn-header:hover:focus {
  background: transparent !important;
}

.app-filters.e-accordion .checkbox-filter-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 4px;
}

.app-filters.e-accordion .checkbox-filter-container .floor-filter {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.app-filters.e-accordion .checkbox-filter-container .floor-filter .room-availability {
  align-items: center;
  border-radius: 48px;
  display: inline-flex;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  gap: 10px;
  justify-content: center;
  line-height: 18px;
  padding: 0 8px;
  text-transform: capitalize;
}

.app-filters.e-accordion .checkbox-filter-container .floor-filter .room-availability.avail {
  background: #ecfdf5;
  color: #10b981;
}

.app-filters.e-accordion .checkbox-filter-container .floor-filter .room-availability.full {
  background: #fef2f2;
  color: #dc2626;
}

.app-filters.e-accordion .price-filter-container {
  margin: 0 auto;
  width: 90%;
}

.app-filters.e-accordion .price-filter-container .slider-price {
  align-items: center;
  display: flex;
  justify-content: space-between;
}